/*
SPACING SYSTEM (rem)
.2 / .4 / .8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8.0 / 9.6 / 12.8

FONT SIZE SYSTEM (rem)
1 / 1.2 / 1.4 / 1.6 / 1.8 / 2.0 / 2.4 / 3.0 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8
*/

:root {
  --background_primary: #fff;
  --background_secondary: #fafafa;

  --primary: #5c8e81;
  --primary_darken: #496f65;

  --text_primary: #222;
  --text_secondary: #888;

  --shadow-ambient--primary: 0 0 5px 0 #dfdfdf;
}

/*  GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: var(--background_secondary);
  color: var(--text_primary);
  overflow-x: hidden;
}

body.active {
  background-color: #333;
  color: #fff;
}

body.active .news-main, 
body.active header, 
body.active a,
body.active .footer-link,
body.active .copyright,
body.active .main-nav-link,
body.active .news-main-side,
body.active .side-nav,
body.active .icon-inner svg,
body.active .icon-mobil-nav,
body.active .main-nav-link-cta.nav-cta-2:visited,
body.active .side-nav-link.nav-cta-2:visited {
  background-color: #333;
  color: #fff;
}

body.active .news-side-cta {
  background-color: var(--primary_darken);
}

body.active .welcome-in,
body.active .btn-text:link {
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container-2 {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* text-headings */
.heading-small {
  font-size: 1.7rem;
}
.heading-medium {
  font-size: 2rem;
}
.heading-news {
  font-size: 2.6rem;
  padding: calc(8px * 1.5) 0 calc(8px * 0.5);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 370px;
}

.heading-welcome {
  font-size: 4.1rem;
  text-align: center;
}

.heading-large {
  font-size: 4.1rem;
  padding: calc(8px * 1.5) 0 calc(8px * 0.5);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  font-weight: 800;
  line-height: 1.1;
  display: inline-block;
}

.text-normal {
  font-size: 1.9rem;
  padding: calc(8px * 1.5) 0 calc(8px * 0.5);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.text-center {
  text-align: center;
}

/* HELPER */
.margin-big {
  margin-top: 3.4rem;
}

.small-img {
  max-width: 15rem;
}

/* grid */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* Knappar */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Alltid transistion på orginal */
  transition: all 0.3s;

  /* För endast btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-link:link,
.btn-link:visited {
  color: var(--primary_darken);
  cursor: pointer;
}

.btn-text:link,
.btn-text:visited {
  color: var(--primary_darken);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary_darken);
  padding: 3px;
  transition: all 0.2s;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 25px;
  max-width: 9rem
}

.btn-text:hover {
  background-color: var(--primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
