/* ****************** */
/* BELOW 1344px (smaller desktops)*/
/* ****************** */

@media (max-width: 84em) {
}
/* ****************** */
/* BELOW 1200px (landscap tablets desktops)*/
/* ****************** */

@media (max-width: 75em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 56.25%;
  }

  .main-nav-search-container {
    display: none;
  }
  .side-nav-search-container {
    display: block;
  }
  .main-nav-list {
    gap: 0 !important;
  }

  .news-main {
    width: 95%;
  }

  .container-nocontent {
    width: 95%;
  }
  .news-main-card-img {
    width: 100%;
  }

  .templates_create_btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 10rem;
    transition: all 0.2s;
    position: fixed;
    z-index: 2;
    bottom: 0.1rem;
    right: 0.1rem;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #333;
    box-shadow: var(--shadow-ambient--primary);
  }

  .templates_create_btn.authenticated {
    display: flex;
  }

  .news-main-side {
    display: none;
  }
}

/* ****************** */
/* BELOW 944px (landscap tablets desktops)*/
/* ****************** */

@media (max-width: 62em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 50%;
  }

  .welcome-in {
    width: 95% !important;
  }
  .main-nav-link-cta.nav-cta-2:link,
  .main-nav-link-cta.nav-cta-2:visited {
    display: none !important;
  }

  .side-nav-link.nav-cta-2:link,
  .side-nav-link.nav-cta-2:visited {
    display: flex;
  }
}
/* ****************** */
/* BELOW 704px (Small tablets desktops)*/
/* ****************** */

@media (max-width: 44em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 50%;
  }
  .header {
    padding: 0;
    height: 6.1rem !important;
  }

  .container-2 {
    padding: 0;
  }

  .header-nav-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 51px 34px;
  }

  .nav-left {
    grid-row: 1;
    grid-column: 1;
    padding-left: 4.8rem;
  }

  .main-nav-list {
    grid-row: 2;
    grid-column: span 2;
    background-color: var(--background_secondary);
    margin-top: -0.3rem;
    box-shadow: 0 5px 3px 0 #dfdfdf89;
  }

  .side-nav {
    top: 8.5rem;
  }
  .side-nav-container {
    padding-top: 3rem;
  }

  .main-nav-buttons-box {
    grid-row: 1;
    grid-column: 2;
    padding-right: 4.8rem;
  }

  .container {
    padding: 0rem 0.5rem;
  }

  /* Footer */
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .welcome-bonus {
    margin-top: 2.4rem;
    padding-top: 2rem;
    align-items: center;
    gap: 3rem;
  }

  .welcome-radio {
    gap: 3rem;
  }
}

/* ****************** */
/* BELOW 544px (Phones)*/
/* ****************** */

@media (max-width: 34em) {
  .nav-left {
    padding-left: 0.8rem;
  }

  .main-nav-buttons-box {
    padding-right: 0.8rem;
  }

  .grid {
    row-gap: 4.8rem;
    column-gap: 4.8rem;
  }
}
