/* ****************** */
/* BELOW 1344px (smaller desktops)*/
/* ****************** */

@media (max-width: 84em) {
}
/* ****************** */
/* BELOW 1200px (landscap tablets desktops)*/
/* ****************** */

@media (max-width: 75em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 56.25%;
  }

  .header {
    height: 11rem;
  }

  .header-nav-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 51px 34px;
  }

  .nav-left {
    grid-row: 1;
    grid-column: 1;
  }

  .main-nav-list {
    grid-row: 2;
    grid-column: span 2;
    display: flex;
    gap: 0 !important;
  }

  .main-nav-buttons-box {
    grid-row: 1;
    grid-column: 2;
  }

  .main-nav-search-container {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    width: 100% !important;
    flex: 1 1;
    text-align: center;
  }

  .news-main {
    width: 95%;
  }
  .news-main-card-img {
    width: 102%;
  }
  .news-main-side {
    display: none;
  }
}

/* ****************** */
/* BELOW 944px (landscap tablets desktops)*/
/* ****************** */

@media (max-width: 59em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 50%;
  }
}

/* ****************** */
/* BELOW 704px (Small tablets desktops)*/
/* ****************** */

@media (max-width: 44em) {
  html {
    /*font=size ska bli i rm 9px = 9 / 16px =56.25% */
    font-size: 50%;
  }
}

/* ****************** */
/* BELOW 544px (Phones)*/
/* ****************** */

@media (max-width: 34em) {
}
