/* ****************** */
/* HEADER */
/* ****************** */

/* body {
  position: relative;
} */

.header {
  background-color: var(--background_primary);
  height: 5.5rem;
  padding: 0 4.8rem;
  box-shadow: var(--shadow-ambient--primary);
  position: sticky;
  z-index: 3;
  top: 0;
}

.bonus-header {
  height: 4.4rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: #fff;
  font-size: 1.2rem !important;
}

.header-nav-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 2.5fr;
}

.logo {
  height: 3.6rem;
  margin-right: 2.2rem;
}

/* ****************** */
/* NAVIGATION*/
/* ****************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.main-nav-btn:link,
.main-nav-btn:visited,
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text_primary);
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  height: 100% !important;
  width: 112% !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-weight 0.3s;
}

.nav-cta:link,
.nav-cta:visited {
  text-decoration: none;
  color: var(--text_primary);
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  height: 100% !important;
  width: 100% !important;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  transition: font-weight 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary_darken);
}

.main-nav-link-link {
  width: 19.2rem;
}

.activate {
  color: var(--primary);
  border-bottom: 2px solid var(--primary_darken);
}

.side-nav-search-container,
.main-nav-search-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10rem;
  padding: 0.2rem 0.5rem 0.2rem 4rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  width: 35rem;
  background-color: white;
}

.main-nav-search-container-mobile {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10rem;
  padding: 0.2rem 0.5rem 0.2rem 4rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  width: 11rem;
  background-color: white;
  flex: 25%;
  /* margin-right: 20px; */
}

.side-nav-search-input,
.main-nav-search-input {
  background: inherit;
  border: none;
  width: 100%;
  height: 2.6rem;
  outline: none;
  vertical-align: -2px;
  display: flex;
}

.side-nav-search-button svg,
.main-nav-search-button svg {
  fill: #ddd;
  width: 22px;
}
.side-nav-search-button,
.main-nav-search-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
}

.main-nav-buttons-box {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-cta:link,
.nav-cta:visited {
  height: 3.44rem;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-family: 14rem;
  color: var(--background_primary);
  background-color: var(--primary_darken);
}

.nav-cta:hover,
.nav-cta:active {
  background-color: var(--primary);
  font-weight: 400;
}
.side-nav-link.nav-cta-2:link,
.side-nav-link.nav-cta-2:visited,
.main-nav-link-cta.nav-cta-2:link,
.main-nav-link-cta.nav-cta-2:visited {
  list-style: none;
  text-decoration: none;
  display: flex;
  height: 3.44rem;
  align-items: center;
  /* gap: 4.8rem; */
  padding: 1rem 2rem;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--text_primary);
  border: 1px solid var(--primary_darken);
}

.side-nav-link.nav-cta-2:link,
.side-nav-link.nav-cta-2:visited {
  margin: 0 auto;
  width: 80%;
  display: none;
  justify-content: center;
}

.login,
.logout {
  display: none;
}

#toggle {
  position: relative;
  display: block;
  width: 45px;
  height: 25px;
  border-radius: 160px;
  /* background: #f3f3f3; */
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1),
    inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle.active {
  background: linear-gradient(0deg, #496f65, #83aa9f);
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5),
    inset 0 2px 2px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 20px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

/* ****************** */
/* SIDE MENU */
/* ****************** */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
}

.icon-mobil-nav {
  height: 5.2rem;
  width: 5.2rem;
  color: #444;
}

.icon-mobil-nav[name="close"] {
  display: none;
}

.side-nav {
  background-color: white;
  box-shadow: 3px 3px 3px 0 #dfdfdf;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 30rem;
  height: 50rem;
  transition: all 0.3s ease-in;
  display: none;
  opacity: 0;
  border-bottom-right-radius: 0.5rem;
  visibility: hidden;
}

.side-nav-container {
  padding: 2rem 2rem;
}

.side-nav-search-container {
  margin: 20px 0;
  width: 90%;
  display: none;
}

.side-nav-ul-list {
  list-style: none;
  line-height: 2.2;
  margin-left: 2rem;
}

.side-nav-ul-list li a {
  text-decoration: none;
  color: var(--text_primary);
  font-size: 1.4rem;
  cursor: pointer;
}

.side-nav-li-heading {
  font-size: 1.6rem;
  font-weight: 600;
}

/* ****************** */
/* BEVAKNINGAR / FAVORITER */
/* ****************** */
.container-nocontent {
  width: 75%;
  margin: 4.2rem auto 6rem auto;
}

/* ****************** */
/* NEWS SECTION*/
/* ****************** */
.section-hero {
  margin: 6.4rem auto;
}
.news-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.news-main {
  width: 75rem;
  height: auto;
  background-color: var(--background_primary);
  border-radius: 0.3rem;
  box-shadow: var(--shadow-ambient--primary);
}
.news-main-side {
  width: 34rem;
  border-radius: 0.3rem;
  background-color: var(--background_primary);
  box-shadow: var(--shadow-ambient--primary);
  overflow-y: auto;
  height: 100%;
}

.desktop-welcome,
.new-side-random-shit {
  display: none;
}

/* ****************** */
/* MAIN NEWS*/
/* ****************** */

.news-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 5.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
  padding: 2rem 1rem;
  align-items: center;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 40px;
  margin-left: 20px;
}

.drop-img {
  background-image: url("https://www.stadium.se/INTERSHOP/static/WFS/Stadium-SwedenB2C-Site/-/-/sv_SE/icons/arrow-down-small.svg");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-size: 1.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-img {
  background-image: url("https://www.stadium.se/INTERSHOP/static/WFS/Stadium-SwedenB2C-Site/-/-/sv_SE/icons/arrow-up-small.svg");
}

.news-main-card-img {
  padding-top: 0.6rem;
  width: 100%;
  height: 100%;
  height: auto;
  justify-self: flex-end;
}

.news-main-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.3fr auto;
  padding: 0 0 calc(8px * 1.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
}

/* ****************** */
/* SECONDARY NEWS*/
/* ****************** */

.news-secondary-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(8px * 1.5) 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
  min-height: 20rem;
}

.news-side-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .news-secondary-link {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 25px;
  color: var(--primary);
} */
.news-side-cta {
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.44rem;
  padding: 1rem 2rem;
  width: 30rem;
  border-radius: 40px;
  font-size: 1.4rem;
  color: var(--background_primary);
  background-color: var(--primary_darken);
}

.news-side-cta:hover {
  background-color: var(--primary);
}

/* NEWS CARD "AKTUELLT - STOR SKÄRM"*/

.new-side-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(8px * 1.5) 0 calc(8px * 0.5);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
}

.news-side-text-img {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.star-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}
.star-container2 {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.star-icon,
.selected-star-icon {
  display: block;
  width: 2.5rem;
  cursor: pointer;
}
.selected-star-icon {
  display: none;
}
.star-container2:hover .selected-star-icon,
.star-container:hover .selected-star-icon {
  display: block;
}
.star-container2:hover .star-icon,
.star-container:hover .star-icon {
  display: none;
}

/* ****************** */
/* SECTION FOOTER*/
/* ****************** */

footer {
  padding-bottom: 2rem;
}

.footer {
  padding: 1.78rem 1rem;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin: 2.4rem 0rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #222;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}

.dev-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 4rem;
}

.dev-title {
  font-size: 2rem;
  margin: 10px;
}

.dev-img {
  width: 50%;
  border-radius: 50%;
}

/* Mobil styling omx30 */
.omx30 {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.omx30-phone {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.omxs30 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img-box {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin-right: 5px;
}
.img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
.img-box-phone {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 5px;
}
.img-phone {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.welcome-weather {
  justify-content: center;
}
.omxs-container-phone {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.omxs-p-phone,
.heading-omni-phone {
  margin: 0;
}
.heading-omni-phone {
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}
.omxs-p-phone {
  font-size: 1.4rem;
}
.phone-omx {
  font-weight: 600;
}

/* Dator styling för omxs30 */
.desktop {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.desktop-omni {
  background-color: #fafafa;
  font-size: 1.8rem;
  font-weight: 600;
}
.omxs30-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 0 5px 0 #dfdfdf;
}
.header-omni-desktop {
  font-size: 2rem;
  margin: 0;
}

.center-img-heading {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  flex: 50;
}

.img-heading {
  width: 2rem;
  height: 2rem;
}

.align-img-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.link-img {
  width: 1.6rem;
  height: 1.6rem;
}

.img-link {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
}

.align-img-text a {
  margin-top: 0.5rem;
}

.img-to-link {
  width: 3.4rem;
  margin-right: 2rem;
  background-color: white;
}

.singin-signup {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.6rem;
  color: var(--primary_darken);
}

.singin-signup:hover {
  color: var(--primary);
}
