/* ****************** */
/* HEADER */
/* ****************** */

/* body {
  position: relative;
} */

.header {
  background-color: var(--background_primary);
  height: 5.5rem;
  padding: 0 4.8rem;
  box-shadow: var(--shadow-ambient--primary);
  position: sticky;
  z-index: 2;
  top: 0;
}

.header-nav-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 2.5fr;
}

.logo {
  height: 3.6rem;
  margin-right: 2.2rem;
}

/* ****************** */
/* NAVIGATION*/
/* ****************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.main-nav-btn:link,
.main-nav-btn:visited,
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text_primary);
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  height: 100% !important;
  width: 100% !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-weight 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary_darken);
}

.main-nav-link-link {
  width: 19.2rem;
}

.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary_darken);
}

.side-nav-search-container,
.main-nav-search-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10rem;
  padding: 0.2rem 0.5rem 0.2rem 4rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  width: 35rem;
}

.side-nav-search-input,
.main-nav-search-input {
  background: inherit;
  border: none;
  width: 100%;
  height: 2.6rem;
  outline: none;
  vertical-align: -2px;
  display: flex;
}

.side-nav-search-button svg,
.main-nav-search-button svg {
  fill: #ddd;
  width: 22px;
}
.side-nav-search-button,
.main-nav-search-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
}

.main-nav-buttons-box {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav-btn.nav-cta:link,
.main-nav-btn.nav-cta:visited {
  height: 3.44rem;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-family: 14rem;
  color: var(--background_primary);
  background-color: var(--primary_darken);
}

.main-nav-btn.nav-cta:hover,
.main-nav-btns.nav-cta:active {
  background-color: var(--primary);
  font-weight: 400;
}
.side-nav-link.nav-cta-2:link,
.side-nav-link.nav-cta-2:visited,
.main-nav-link-cta.nav-cta-2:link,
.main-nav-link-cta.nav-cta-2:visited {
  list-style: none;
  text-decoration: none;
  display: flex;
  height: 3.44rem;
  align-items: center;
  /* gap: 4.8rem; */
  padding: 1rem 2rem;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--text_primary);
  border: 1px solid var(--primary_darken);
}

.side-nav-link.nav-cta-2:link,
.side-nav-link.nav-cta-2:visited {
  margin: 0 auto;
  width: 80%;
  display: none;
  justify-content: center;
}

/* ****************** */
/* SIDE MENU */
/* ****************** */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
}

.icon-mobil-nav {
  height: 5.2rem;
  width: 5.2rem;
  color: #444;
}

.icon-mobil-nav[name="close"] {
  display: none;
}

.side-nav {
  background-color: white;
  box-shadow: 3px 3px 3px 0 #dfdfdf;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 30rem;
  height: 50rem;
  transition: all 0.3s ease-in;
  display: none;
  opacity: 0;
  border-bottom-right-radius: 0.5rem;
  visibility: hidden;
}

.side-nav-container {
  padding: 2rem 2rem;
}

.side-nav-search-container {
  margin: 20px 0;
  width: 90%;
  display: none;
}

.side-nav-ul-list {
  list-style: none;
  line-height: 3;
  margin-left: 2rem;
}

.side-nav-ul-list li a {
  text-decoration: none;
  color: var(--text_primary);
  font-size: 1.4rem;
  cursor: pointer;
}

.side-nav-li-heading {
  font-size: 1.6rem;
  font-weight: 600;
}

/* ****************** */
/* NEWS SECTION*/
/* ****************** */
.section-hero {
  margin: 6.4rem auto;
}
.news-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
/*  ny styling  */
.news-main {
  width: 74rem;
  height: 300em;
  background-color: var(--background_primary);
  border-radius: 0.3rem;
  box-shadow: var(--shadow-ambient--primary);
  overflow-y: auto;
}

.news-item {
  margin-bottom: 2rem;
}

.news-item img {
  max-width: 74rem;
}
/*
h2 {
  font-size: 4rem;
  margin-top: 10px;
}
 */

 a {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 25px;
}

.news-main {
  width: 74rem;
  height: 300rem;
  background-color: var(--background_primary);
  border-radius: 0.3rem;
  box-shadow: var(--shadow-ambient--primary);
}
.news-main-side {
  width: 34rem;
  height: 173rem;
  border-radius: 0.3rem;
  background-color: var(--background_primary);
  box-shadow: var(--shadow-ambient--primary);
}

/* ****************** */
/* MAIN NEWS*/
/* ****************** */

.news-heading {
  height: 5.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
  padding: 2rem 1rem;
}

.news-main-card-img {
  width: 103%;
  height: auto;
  margin-top: 1.7rem;
  margin-left: -1rem;
}

.news-main-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.3fr auto;
  padding: 0 0 calc(8px * 1.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
}

/* ****************** */
/* SECONDARY NEWS*/
/* ****************** */

.news-secondary-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(8px * 1.5) 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
}

.news-side-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-side-cta {
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.44rem;
  padding: 1rem 2rem;
  width: 30rem;
  border-radius: 40px;
  font-size: 1.4rem;
  color: var(--background_primary);
  background-color: var(--primary_darken);
}

.news-side-cta:hover {
  background-color: var(--primary);
}

/* NEWS CARD "AKTUELLT - STOR SKÄRM"*/

.new-side-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(8px * 1.5) 0 calc(8px * 0.5);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.558);
}

.news-side-text-img {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* ****************** */
/* SECTION FOOTER*/
/* ****************** */

footer {
  padding-bottom: 2rem;
}

.footer {
  padding: 1.78rem 1rem;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin: 2.4rem 0rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
